body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    text-decoration: none;
}


h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.products, .cart {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
}

.products .product {
    margin-bottom: 20px;
}

.products img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
    gap: 20px;
}

button:hover {
    background-color: #218838;
}

.cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#clear-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#clear-cart:hover {
    background-color: #c82333;
}

.link a {
    margin-bottom: 10px;
    color: black;
    display: block;
    font-size: large;
    height: 40px;
}

.link h3 {
    color: #28a745;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    text-align: center;
}

.buy-btn, .submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.buy-btn:hover, .submit-btn:hover {
    background-color: #218838;
}

.payment-form {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px; 
    margin: 40px;
}

.image-container img {
    width: 200px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}







